-- 匿名ユーザの削除
-- DELETE FROM mysql.user WHERE user = '';

-- root ユーザのパスワードを設定
UPDATE mysql.user SET password=password('<%= @root_password %>') WHERE user = 'root';
-- SET PASSWORD FOR 'root'@'::1'                   = PASSWORD('<%= @root_password %>');
-- SET PASSWORD FOR 'root'@'127.0.0.1'             = PASSWORD('<%= @root_password %>');
-- SET PASSWORD FOR 'root'@'localhost'             = PASSWORD('<%= @root_password %>');
-- SET PASSWORD FOR 'root'@'localhost.localdomain' = PASSWORD('<%= @root_password %>');

-- 権限情報をフラッシュ
FLUSH PRIVILEGES;