-- Toslove_admin用ユーザーの作成
GRANT ALL ON <%= @db_name %>.* TO '<%= @username %>'@'localhost' IDENTIFIED BY '<%= @password %>';
GRANT ALL ON <%= @db_name %>.* TO '<%= @username %>'@'%' IDENTIFIED BY '<%= @password %>';
-- 権限情報をフラッシュ
FLUSH PRIVILEGES;